html, body {
    min-height: 100%;
}
body {
    padding: 0;
    margin: 0;
    text-align: center;
}

#img-central{
    width: 1080px;
    height: auto;
    max-width: 100%;
    padding: 50px;    
}
        
footer {
    position: absolute;
    bottom: 0;
    background-color: #005db9;
    color: #FFF;
    width: 100%;
    height: 100px;    
    text-align: center;
    line-height: 100px;    
}

.social-links a {
    font-size: 18px;
    display: inline-block;
    background: #fff;
    color: #005db9;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  .social-links a:hover {
    background: #87cefa;
    color: #005db9;
    text-decoration: none;
  }